# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
.env/
ENV/

# Testing and Coverage
.pytest_cache/
.cache

# Large model files (GitHub limit is 100MB)
**/experiments/models/ranker_baseline_*.joblib
*.onnx

# MLflow
mlruns/
mlruns.db